body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/** main text colors **/
.text-color-1{
  color:  #FF6600;
}

.text-color-2{
  color:  #F6F6EF;
}

.text-color-3{
  color:  white;
}

.text-color-4{
  color:  black;
}
/** main text colors **/

/** main background colors **/
.bg-color-1{
  background-color:  #FF6600!important;
}

.bg-color-2{
  background-color:  #F6F6EF!important;
}

.bg-color-3{
  background-color:  white!important;
}

.bg-color-4{
  background-color:  black!important;
}
/** main background colors **/

.logo{
  border:1px white solid;
  margin-right: 5px;
}

.card-header{
  padding:2px!important;
}

/** sizes **/
.size-1{
  font-size: 10pt;
}
/** sizes **/